<link rel="stylesheet" href="/css/_chat_box.css">


<!-- CHANGE :: Creat the code for chat box -->
<% if (locals.user){ %>
    <input type="checkbox" id="check">
    <div class="window">
      <label class="top-bar" for="check">
        <div class="kapsayici">
          <div class="profile">
            <img class="pp" src="https://i.pinimg.com/564x/58/ac/2e/58ac2e722527319666603da8a7570f53.jpg">
            <div class="online"></div>
            <a>Messages</a>
          </div>
          <!---->
          <div class="icons">
            <p class="symbol">â®</p>
          </div>
        </div>
      </label>

        <!-- new -->
        <div id="user-chat-box">
		<ul id="chat-messages-list">

            <% for(let chat of all_chats){%>
                <%if(chat.user.id == locals.user.id){%>
                    <li class="self-message">
                        <img src="/upload/<%=chat.user.avatar ? chat.user.avatar : 'default-avatar.jpg'%>" class="sender-img">
                        <span><%= chat.message %></span>
                        <sub><%= chat.user.name %></sub>
                    </li>
                <%}else{%>
                    <li class="other-message">
                        <img src="/upload/<%=chat.user.avatar ? chat.user.avatar : 'default-avatar.jpg'%>" class="sender-img">
                        <span> <%= chat.message %> </span>
                        <sub> <%= chat.user.name%> </sub>
                    </li>
                <%}%>    
            <%}%>
		</ul>
		
		<form action="" id="chat-message-input-container">
            <input id="chat-message-input" placeholder="Type message here" required>
		    <button type="submit" id="send-chat-msg-btn">Send</button>
        </form>
		

	    </div>
      
    </div>
<% } %>
